Widget > QLabel {
    font: 24px 'Segoe UI', 'Microsoft YaHei';
}

QLabel {
    color: white;
}

Widget {
    border: 1px solid rgb(229, 229, 229);
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 10px;
    background-color: rgb(39, 39, 39);
}

Window {
    background-color: rgb(39, 39, 39);
}
